openapi: 3.1.0
info:
  title: AiGo Agent-Friendly Places API
  version: 0.1.0
  description: |
    AiGo MVP API for external agents that collect, compare, create, update,
    search, and inspect kid-friendly place data. Natural-language parsing is
    intentionally outside this API; agents should send structured JSON.
servers:
  - url: https://aigo.o-r.kr
  - url: http://localhost:3000
security:
  - bearerApiKey: []
paths:
  /v1/health:
    get:
      summary: Check agent API health and bearer key validity
      operationId: getAgentHealth
      description: >-
        Lightweight readiness check for agent workflows. Requires the same bearer API key
        as other `/v1` routes, performs a shallow database query, and rate-limits repeated
        invalid-key attempts from the same client for a short block window.
      responses:
        "200":
          description: API key is valid and the database is reachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              examples:
                ok:
                  value:
                    ok: true
                    service: aigo-api
                    auth: ok
                    database: ok
                    checkedAt: "2026-05-27T00:00:00.000Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/places/search:
    post:
      summary: Search places with soft matching
      operationId: searchPlaces
      description: >-
        Returns the current search shape as top-level `items` plus `meta`. Agent scripts
        should not read a `results` array from current responses; use the shared read-only
        helper in `scripts/lib/aigo-search.ts` when handling cached legacy fixtures.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchPlacesRequest"
            examples:
              compactExactName:
                summary: Compact exact-name lookup
                value:
                  query: 국립광주과학관
                  matchMode: exactName
                  projection: compact
                  limit: 5
      responses:
        "200":
          description: Search results with top-level `items` and `meta`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchPlacesResponse"
              examples:
                compactExactName:
                  summary: Compact exact-name response shape
                  value:
                    items:
                      - id: e37846ac-015e-424c-83e9-e6cf2990d65a
                        name: 국립광주과학관
                        primaryCategory: science_museum
                        tags: []
                        address: 광주광역시 북구 첨단과기로 235
                        lat: 35.2296
                        lng: 126.8494
                        distanceKm: null
                        score: 80
                        reasonCodes: [QUERY_NAME_EXACT]
                        reasons: []
                        dataConfidence: agent_collected
                        taxonomy:
                          schemaVersion: 1
                          sourceBacked:
                            familyFitGates: []
                            activityTypes: []
                            visitUseCases: []
                            ageBands: []
                            accessTags: []
                            logisticsTags: []
                            riskTags: []
                          inferred:
                            familyFitGates: []
                            activityTypes: []
                            visitUseCases: []
                            ageBands: []
                            accessTags: []
                            logisticsTags: []
                            riskTags: []
                          migration:
                            legacyTags: []
                            broadMappedTags: []
                            unmappedTags: []
                        pricing: {}
                        routeSupport: {}
                        recommendedAgeMonths:
                          min: null
                          max: null
                        infantLogistics:
                          supportLevel: unknown
                          supportScore: 0
                          evidence: []
                          gaps: []
                        structuredDataGaps: []
                        openingHoursSummary:
                          status: unknown
                          label: 운영시간 미확인
                          confidence: unknown
                          nextChangeAt: null
                          notes: []
                          sourceCheckedAt: null
                        facilities:
                          indoorType: unknown
                          strollerFriendly: unknown
                          parkingAvailable: unknown
                          parkingFrictionLevel: unknown
                          peakParkingWindow: null
                          parkingWaitNote: null
                          nursingRoom: unknown
                          diaperChangingTable: unknown
                          kidsToilet: unknown
                          elevator: unknown
                          babyChair: unknown
                          foodAllowed: unknown
                        visit:
                          reservationRequired: unknown
                          walkInAvailable: unknown
                          sessionBased: unknown
                          sameDayAvailabilityKnown: unknown
                          averageStayMinutes: null
                          parentEffortLevel: null
                          childEngagementLevel: null
                        notes:
                          safety: null
                          parent: null
                        primaryImageUrl: null
                        imageHealth:
                          status: no_active_image
                          activeCount: 0
                          approvedCount: 0
                          needsReviewCount: 0
                          pendingReviewCount: 0
                          primaryImageUrl: null
                          primaryReviewStatus: null
                          latestCheckedAt: null
                          latestUpdatedAt: null
                        sourceSummary:
                          sourceCount: 0
                          sourceTypes: []
                          bestSourceType: null
                          bestSourceTier: none
                          latestCheckedAt: null
                          freshnessStatus: unchecked
                    meta:
                      count: 1
                      total: 1
                      limit: 5
                      offset: 0
                      projection: compact
                      origin: null
                      coursePlan: null
                      search:
                        originalQuery: 국립광주과학관
                        normalizedQuery: 국립광주과학관
                        appliedPreferences: null
                        preferenceSemantics: []
                        visitContext: null
                        normalized: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/places/duplicates:
    post:
      summary: Find possible duplicate places before create or update
      operationId: findDuplicatePlaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DuplicatePlaceRequest"
      responses:
        "200":
          description: Duplicate candidates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DuplicatePlaceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/places/image-health:
    get:
      summary: List image coverage and review queues for place data agents
      operationId: listPlaceImageHealth
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [attention, no_active_image, rejected_only, needs_review, pending_review, no_primary, healthy, primary_image_unreachable, all]
            default: attention
          description: Queue selector. `attention` returns everything except healthy rows.
        - name: probeImages
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When true, scoped `placeIds` lookups re-probe primary image URLs with HEAD followed by ranged GET and can return `primary_image_unreachable`. Requires 25 or fewer `placeIds`; unscoped queue scans do not perform external image probes.
        - name: primaryCategory
          in: query
          required: false
          schema:
            type: string
            minLength: 1
          description: Optional primary category filter such as `family_restaurant` or `park`.
        - name: placeIds
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated place UUIDs for narrowing the queue to current search or recommendation candidates. Explicitly scoped lookups include `temporarily_closed` records; the unscoped queue remains active-only.
        - name: placeId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Backward-compatible single-place alias for `placeIds`. If both `placeIds` and `placeId` are provided, `placeIds` is used.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 5000
            default: 0
      responses:
        "200":
          description: Image health queue rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceImageHealthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/places:
    post:
      summary: Create a place and publish it immediately
      operationId: createPlace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePlaceRequest"
      responses:
        "201":
          description: Created place detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/places/{placeId}:
    get:
      summary: Get place detail
      operationId: getPlace
      parameters:
        - $ref: "#/components/parameters/PlaceId"
      responses:
        "200":
          description: Place detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      summary: Update a place and append a wiki-style version
      operationId: updatePlace
      parameters:
        - $ref: "#/components/parameters/PlaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePlaceRequest"
      responses:
        "200":
          description: Updated place detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Soft-delete a place
      description: Marks the place `closed` so it is excluded from search while preserving sources, images, and version history. Requires an explicit confirmation payload with the current place name, source provenance, and change summary.
      operationId: deletePlace
      parameters:
        - $ref: "#/components/parameters/PlaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeletePlaceRequest"
      responses:
        "200":
          description: Deleted place summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletePlaceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/places/{placeId}/retire-duplicate:
    post:
      summary: Retire an active duplicate place into a canonical place
      description: Marks the target place `merged`, preserves source-backed audit history, stores the canonical place id in `externalRefs.duplicateRetirement`, and excludes the retired duplicate from search and duplicate candidate results.
      operationId: retireDuplicatePlace
      parameters:
        - $ref: "#/components/parameters/PlaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetireDuplicatePlaceRequest"
      responses:
        "200":
          description: Retired duplicate summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetireDuplicatePlaceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/places/{placeId}/versions:
    get:
      summary: List place versions
      operationId: listPlaceVersions
      parameters:
        - $ref: "#/components/parameters/PlaceId"
      responses:
        "200":
          description: Version list
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlaceVersionSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /v1/places/{placeId}/versions/{versionId}:
    get:
      summary: Get a specific place version
      operationId: getPlaceVersion
      parameters:
        - $ref: "#/components/parameters/PlaceId"
        - name: versionId
          in: path
          required: true
          schema:
            type: string
          description: Version UUID or version number.
      responses:
        "200":
          description: Version detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceVersion"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
      bearerFormat: AIGO_API_KEY
  parameters:
    PlaceId:
      name: placeId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    TooManyRequests:
      description: Too many invalid API key attempts
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: Server or database health check failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
        details: {}
    HealthResponse:
      type: object
      required: [ok, service, auth, database, checkedAt]
      properties:
        ok:
          type: boolean
          const: true
        service:
          type: string
          const: aigo-api
        auth:
          type: string
          const: ok
        database:
          type: string
          const: ok
        checkedAt:
          type: string
          format: date-time
    Origin:
      type: object
      required: [lat, lng]
      properties:
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
        label:
          type: string
    ViewportBounds:
      type: object
      required: [minLat, minLng, maxLat, maxLng]
      description: Visible map bounds used to restrict search candidates to the area currently shown to the user.
      properties:
        minLat:
          type: number
          minimum: -90
          maximum: 90
        minLng:
          type: number
          minimum: -180
          maximum: 180
        maxLat:
          type: number
          minimum: -90
          maximum: 90
        maxLng:
          type: number
          minimum: -180
          maximum: 180
    TriState:
      type: string
      enum: [yes, no, partial, unknown]
    IndoorType:
      type: string
      enum: [indoor, outdoor, mixed, unknown]
    ParkingFrictionLevel:
      type: string
      enum: [low, medium, high, unknown]
      description: Parent-facing parking difficulty signal; use unknown when source evidence is weak.
    PrimaryCategory:
      type: string
      enum:
        - kids_cafe
        - indoor_playground
        - toy_store
        - toy_library
        - shared_childcare
        - library
        - art_museum
        - museum
        - science_museum
        - experience_center
        - aquarium
        - park
        - playground
        - family_cafe
        - family_restaurant
        - sports_venue
        - shopping_mall
        - rest_area
        - accommodation
        - zoo
      description: Closed top-level place category set. Finer classification belongs in taxonomy facets.
    SourceType:
      type: string
      enum:
        - official_site
        - public_agency
        - public_tourism
        - operator_page
        - public_listing
        - public_news
        - public_blog
        - user_observation
        - agent_observation
        - official_image_source
        - public_listing_image_source
        - public_news_image_source
        - map_service
        - geocode
        - unknown
      description: Canonical source provenance type. Common aliases such as `official`, `official_page`, `news_article`, `blog`, `public_data_mirror`, and image-source variants are normalized by the API.
    TaxonomyFacetSet:
      type: object
      description: Controlled place taxonomy facet set. Canonical values are English snake_case slugs.
      properties:
        familyFitGates:
          type: array
          items:
            type: string
            enum: [child_primary, baby_logistics, retail_fallback, route_break, user_signal]
        activityTypes:
          type: array
          items:
            type: string
            enum: [indoor_play, outdoor_playground, water_play, sand_play, nature_walk, reading_books, toy_borrowing, shopping_browse, meal_play, science_exhibit, culture_exhibit, hands_on_experience, animals_aquarium, lodging_play]
        visitUseCases:
          type: array
          items:
            type: string
            enum: [after_daycare, nearby_now, rainy_day, weekend_half_day, day_trip, hot_day, cold_day]
        ageBands:
          type: array
          items:
            type: string
            enum: [infant, toddler, preschool, school_age]
        accessTags:
          type: array
          items:
            type: string
            enum: [public_facility]
        logisticsTags:
          type: array
          items:
            type: string
            enum: [parking, low_parking_friction, stroller, double_stroller, elevator, nursing_room, diaper_table, kids_toilet, baby_chair, food_support, reservation, session_based]
        riskTags:
          type: array
          items:
            type: string
            enum: [water_edge, road_nearby, steep_path, crowding, fire_grill, current_operation_uncertain, seasonal_operation, infant_amenity_gap]
    PlaceTaxonomy:
      type: object
      description: Source-backed and inferred controlled classification for parent-planning semantics. Use `sourceBacked` only for cited facts and `inferred` for agent-derived broad planning labels. Write requests may provide a fragment; omitted schemaVersion, facet arrays, and migration arrays default to taxonomy v1 empty values.
      properties:
        schemaVersion:
          type: integer
          enum: [1]
          default: 1
        sourceBacked:
          $ref: "#/components/schemas/TaxonomyFacetSet"
        inferred:
          allOf:
            - $ref: "#/components/schemas/TaxonomyFacetSet"
            - type: object
              properties:
                confidence:
                  type: string
                  enum: [high, medium, low]
                basis:
                  type: string
                  maxLength: 1000
        migration:
          type: object
          properties:
            legacyTags:
              type: array
              maxItems: 200
              items:
                type: string
            broadMappedTags:
              type: array
              maxItems: 200
              items:
                type: string
            unmappedTags:
              type: array
              maxItems: 200
              items:
                type: string
            normalizedAt:
              type: string
              format: date-time
    SearchTaxonomyRequest:
      type: object
      description: >-
        Controlled taxonomy facets for search. Defaults to soft ranking; use `mode: required`
        to require every requested facet in either `sourceBacked` or `inferred` taxonomy.
      properties:
        mode:
          type: string
          enum: [soft, required]
          default: soft
        familyFitGates:
          type: array
          maxItems: 20
          items:
            type: string
            enum: [child_primary, baby_logistics, retail_fallback, route_break, user_signal]
        activityTypes:
          type: array
          maxItems: 20
          items:
            type: string
            enum: [indoor_play, outdoor_playground, water_play, sand_play, nature_walk, reading_books, toy_borrowing, shopping_browse, meal_play, science_exhibit, culture_exhibit, hands_on_experience, animals_aquarium, lodging_play]
        visitUseCases:
          type: array
          maxItems: 20
          items:
            type: string
            enum: [after_daycare, nearby_now, rainy_day, weekend_half_day, day_trip, hot_day, cold_day]
        ageBands:
          type: array
          maxItems: 20
          items:
            type: string
            enum: [infant, toddler, preschool, school_age]
        accessTags:
          type: array
          maxItems: 20
          items:
            type: string
            enum: [public_facility]
        logisticsTags:
          type: array
          maxItems: 20
          items:
            type: string
            enum: [parking, low_parking_friction, stroller, double_stroller, elevator, nursing_room, diaper_table, kids_toilet, baby_chair, food_support, reservation, session_based]
        riskTags:
          type: array
          maxItems: 20
          items:
            type: string
            enum: [water_edge, road_nearby, steep_path, crowding, fire_grill, current_operation_uncertain, seasonal_operation, infant_amenity_gap]
    RelatedPlaceRelationType:
      type: string
      enum: [nearby, same_building, same_site, parent_child, route_pair, itinerary_cluster]
      description: Agent-maintained relationship between two registered places. Use same_site for shared campuses/resorts/facility grounds when hierarchy is loose, parent_child for explicit lodging/facility subvenues, and itinerary_cluster for day-trip clusters with shared drive burden, meal/rest fallback, and parent-effort evidence. Relations are stored once and returned bidirectionally.
    SourceInput:
      type: object
      required: [sourceType]
      properties:
        sourceType:
          $ref: "#/components/schemas/SourceType"
        title:
          type: string
        url:
          type: string
          format: uri
        externalId:
          type: string
        summary:
          type: string
          maxLength: 2000
        checkedAt:
          type: string
          format: date-time
      anyOf:
        - required: [url]
        - required: [externalId]
    RelatedPlaceInput:
      type: object
      required: [placeId]
      properties:
        placeId:
          type: string
          format: uuid
        relationType:
          $ref: "#/components/schemas/RelatedPlaceRelationType"
          default: nearby
        note:
          type: string
          maxLength: 1000
        evidence:
          type: object
          description: Agent-maintained relation evidence such as distance meters, address match, source URLs, or audit batch id. For lodging/resort parent-child relations, include fields such as parentPlaceRole, childVenueRole, sameSiteName, sourceUrls, and displayNote when available. For itinerary_cluster relations, include fields such as clusterName, sharedDriveBurden, mealRestFallback, parentEffortNotes, and sourceUrls when available.
          additionalProperties: true
    PricingItem:
      type: object
      required: [label]
      properties:
        label:
          type: string
          description: Human-readable price row such as child 2-hour pass, guardian entry, infant free condition, weekday rate, or reservation price.
        amount:
          type: integer
          minimum: 0
          maximum: 100000000
          description: Local-currency amount when the source provides a fixed numeric price. Omit instead of guessing.
        currency:
          type: string
          enum: [KRW, USD, JPY, PHP, VND, SGD, MYR, THB, TWD, HKD, AUD, EUR, GBP]
          default: KRW
        unit:
          type: string
          description: Price unit such as person, child, guardian, 2 hours, night, or session.
        ageRange:
          type: string
          description: Source-backed age/person condition for this price row.
        conditions:
          type: string
          description: Weekday/weekend, reservation, companion, free-entry, or time-limit conditions.
        notes:
          type: string
        sourceUrl:
          type: string
          format: uri
    Pricing:
      type: object
      description: Source-backed fee summary for paid places. Prices change often, so include `basisDate` or `checkedAt` whenever prices are known and omit unknown amounts instead of estimating.
      properties:
        summary:
          type: string
          maxLength: 1000
          description: Compact parent-facing summary shown on cards/details.
        currency:
          type: string
          enum: [KRW, USD, JPY, PHP, VND, SGD, MYR, THB, TWD, HKD, AUD, EUR, GBP]
          default: KRW
        basisDate:
          type: string
          format: date
          description: Date the listed prices apply to or were published, in YYYY-MM-DD.
        checkedAt:
          type: string
          format: date-time
          description: Agent/source verification timestamp for the price information.
        staleAfterDays:
          type: integer
          minimum: 1
          maximum: 730
          description: Optional freshness window after which the UI should show the price as needing recheck.
        items:
          type: array
          maxItems: 50
          items:
            $ref: "#/components/schemas/PricingItem"
        sourceUrl:
          type: string
          format: uri
        sourceTitle:
          type: string
        notes:
          type: string
    ReviewSearchEvidenceItem:
      type: object
      required: [query]
      properties:
        query:
          type: string
          maxLength: 200
          description: Search query used to find parent-facing review evidence.
        searchedAt:
          type: string
          format: date-time
        sourceUrl:
          type: string
          format: uri
        language:
          type: string
          maxLength: 50
        countryCode:
          type: string
          pattern: "^[A-Z]{2}$"
        city:
          type: string
          maxLength: 200
        accessStatus:
          type: string
          enum: [opened, snippet_only, blocked, not_found]
          description: Whether the source was opened directly or only search/snippet evidence was available.
        snippetSummary:
          type: string
          maxLength: 1000
          description: Agent-written summary of visible search or review evidence; do not copy long source text.
        confidence:
          type: string
          enum: [low, medium, high]
    PlaceWritableFields:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        slug:
          type: string
        primaryCategory:
          $ref: "#/components/schemas/PrimaryCategory"
        tags:
          type: array
          items:
            type: string
          maxItems: 50
        description:
          type: string
          maxLength: 5000
        address:
          type: string
        roadAddress:
          type: string
        regionSido:
          type: string
        regionSigungu:
          type: string
        regionDong:
          type: string
        countryCode:
          type: string
          pattern: "^[A-Z]{2}$"
          description: ISO 3166-1 alpha-2 country code for overseas or country-scoped places. Create requests with a Korean region/address default this to `KR` when omitted.
        countryName:
          type: string
          maxLength: 200
          description: Source-backed country display name when the place is outside Korea or country context matters.
        city:
          type: string
          maxLength: 200
          description: Overseas city or primary locality used for filtering and display.
        locality:
          type: string
          maxLength: 200
          description: District, island, resort area, or local neighborhood below city level.
        localCurrency:
          type: string
          enum: [KRW, USD, JPY, PHP, VND, SGD, MYR, THB, TWD, HKD, AUD, EUR, GBP]
          description: Default local currency for source-backed pricing at this place.
        lat:
          type: number
          minimum: -90
          maximum: 90
        lng:
          type: number
          minimum: -180
          maximum: 180
        phone:
          type: string
        officialUrl:
          type: string
          format: uri
        reservationUrl:
          type: string
          format: uri
        kakaoPlaceUrl:
          type: string
          format: uri
        kakaoPlaceId:
          type: string
        contact:
          type: object
          description: Backward-compatible write alias for contact fields. Values are persisted to the same top-level `phone`, `officialUrl`, `reservationUrl`, `kakaoPlaceUrl`, and `kakaoPlaceId` columns unless those top-level fields are also provided.
          properties:
            phone:
              type: string
            officialUrl:
              type: string
              format: uri
            reservationUrl:
              type: string
              format: uri
            kakaoPlaceUrl:
              type: string
              format: uri
            kakaoPlaceId:
              type: string
        externalRefs:
          type: object
          description: Optional external reference object used for JSON containment duplicate matching against stored `externalRefs`. Agents may store public parent-inspection links such as `infoLinks` and `reviewLinks` here.
          additionalProperties: true
        playFeatures:
          $ref: "#/components/schemas/PlayFeatures"
        taxonomy:
          $ref: "#/components/schemas/PlaceTaxonomy"
        pricing:
          $ref: "#/components/schemas/Pricing"
        reviewSearchEvidence:
          type: array
          maxItems: 50
          description: Agent-maintained parent-review search evidence, useful when official sources and parent snippets must be distinguished.
          items:
            $ref: "#/components/schemas/ReviewSearchEvidenceItem"
        routeSupport:
          $ref: "#/components/schemas/RouteSupport"
        imageUrls:
          type: array
          deprecated: true
          description: Backward-compatible legacy fallback used only when `images` is omitted. New agents should use `images`; when structured `images` are present, `imageUrls` is ignored to avoid creating unaudited pending images.
          maxItems: 20
          items:
            type: string
            format: uri
        images:
          type: array
          description: First-class image records attached to the place. Use this for audited image links, visual descriptions, and primary-image selection.
          maxItems: 30
          items:
            $ref: "#/components/schemas/PlaceImageInput"
        relatedPlaces:
          type: array
          description: Existing places that should be shown as related to this place, usually because they share a building, campus, resort, mall, or very close practical visit context.
          maxItems: 50
          items:
            $ref: "#/components/schemas/RelatedPlaceInput"
        status:
          type: string
          enum: [active, temporarily_closed, closed, draft, needs_review, merged]
        dataConfidence:
          type: string
          enum: [official_verified, operator_curated, agent_collected, user_reported, needs_check, unknown]
        placeScore:
          type: number
          minimum: 0
          maximum: 10
          description: Source-backed objective 0-10 place score assigned by agents for the family outing use case. This is not an AiGo user rating.
        placeScoreRationale:
          type: string
          maxLength: 5000
          description: Concise agent-written rationale for the objective place score.
        externalRatingScore:
          type: number
          minimum: 0
          maximum: 10
          description: Normalized 0-10 third-party review/rating signal when citeable evidence exists.
        externalReviewCount:
          type: integer
          minimum: 0
          maximum: 1000000
          description: Approximate source-backed external review count used to weight rating confidence.
        searchEvidenceScore:
          type: number
          minimum: 0
          maximum: 10
          description: Normalized 0-10 evidence/prominence score derived from public search results, listings, official pages, and corroborating sources.
        scoreSignals:
          type: object
          description: Structured source-backed scoring evidence, such as provider ratings, search-result observations, caps, conflicts, and freshness notes.
          additionalProperties: true
        scoreUpdatedAt:
          type: string
          format: date-time
          description: Timestamp when the score fields were last reviewed or recomputed.
        minRecommendedAgeMonths:
          type: integer
          minimum: 0
          maximum: 240
          description: Minimum recommended child age in months. When both age bounds are provided, this value must be less than or equal to `maxRecommendedAgeMonths`. Create/update requests may also provide `recommendedAgeMonths.min` as a payload alias, which is normalized to this field.
        maxRecommendedAgeMonths:
          type: integer
          minimum: 0
          maximum: 240
          description: Maximum recommended child age in months. When both age bounds are provided, this value must be greater than or equal to `minRecommendedAgeMonths`. Create/update requests may also provide `recommendedAgeMonths.max` as a payload alias, which is normalized to this field.
        indoorType:
          $ref: "#/components/schemas/IndoorType"
        strollerFriendly:
          $ref: "#/components/schemas/TriState"
        parkingAvailable:
          $ref: "#/components/schemas/TriState"
        parkingFrictionLevel:
          $ref: "#/components/schemas/ParkingFrictionLevel"
        peakParkingWindow:
          type: string
          maxLength: 500
          description: Source-backed time window when parking is most likely to be difficult.
        parkingWaitNote:
          type: string
          maxLength: 1000
          description: Practical parent note about parking entry, queues, validation, or fallback lots.
        nursingRoom:
          $ref: "#/components/schemas/TriState"
        diaperChangingTable:
          $ref: "#/components/schemas/TriState"
        kidsToilet:
          $ref: "#/components/schemas/TriState"
        elevator:
          $ref: "#/components/schemas/TriState"
        babyChair:
          $ref: "#/components/schemas/TriState"
        foodAllowed:
          $ref: "#/components/schemas/TriState"
        reservationRequired:
          $ref: "#/components/schemas/TriState"
          description: Whether advance reservation is required for a normal family visit.
        walkInAvailable:
          $ref: "#/components/schemas/TriState"
          description: Whether same-day walk-in entry is normally possible.
        sessionBased:
          $ref: "#/components/schemas/TriState"
          description: Whether visits are organized into fixed sessions or entry windows.
        sameDayAvailabilityKnown:
          $ref: "#/components/schemas/TriState"
          description: Whether same-day availability can be checked from source-backed public information.
        averageStayMinutes:
          type: integer
          minimum: 0
          maximum: 1440
        parentEffortLevel:
          type: integer
          minimum: 1
          maximum: 5
        childEngagementLevel:
          type: integer
          minimum: 1
          maximum: 5
        rainyDayScore:
          type: integer
          minimum: 1
          maximum: 5
        hotDayScore:
          type: integer
          minimum: 1
          maximum: 5
        coldDayScore:
          type: integer
          minimum: 1
          maximum: 5
        safetyNotes:
          type: string
          maxLength: 5000
        parentNotes:
          type: string
          maxLength: 5000
        openingHours:
          description: Flexible operating-hours metadata. For accommodations, use `openingHours.lodgingStayWindow.checkIn`, `checkOut`, and optional `sourceBacked`; detail/search derive `openingHoursSummary.lodgingStayWindow` from that nested shape.
    CreatePlaceRequest:
      allOf:
        - $ref: "#/components/schemas/PlaceWritableFields"
        - type: object
          description: Create requires either `address` or `regionSido` so the place can be grouped geographically even when one address form is unavailable.
          required: [name, primaryCategory, lat, lng, sources]
          anyOf:
            - required: [address]
            - required: [regionSido]
          properties:
            sources:
              type: array
              minItems: 1
              items:
                $ref: "#/components/schemas/SourceInput"
            actor:
              type: string
              default: agent
            changeSummary:
              type: string
              maxLength: 2000
    UpdatePlaceRequest:
      allOf:
        - $ref: "#/components/schemas/PlaceWritableFields"
        - type: object
          description: >
            Update requires source provenance. If one coordinate is changed, both `lat` and `lng` must be sent together;
            when both age bounds are sent, min must be less than or equal to max. `externalRefs` updates are deep-merged
            into the existing JSON object: omitted keys are preserved, nested objects merge recursively, and arrays/scalars/null
            replace the addressed key.
          required: [sources]
          dependentRequired:
            lat: [lng]
            lng: [lat]
          properties:
            sources:
              type: array
              minItems: 1
              items:
                $ref: "#/components/schemas/SourceInput"
            sourceMode:
              type: string
              enum: [append, replace]
              default: append
              description: Append new provenance by default. Use replace only to correct a bad import or source contamination.
            imageMode:
              type: string
              enum: [append, replace]
              default: append
              description: >
                Append image records by default; appended structured images remain secondary unless
                `isPrimary: true` is explicit. Use replace after manual visual audit to keep only meaningful active images.
            relatedPlaceMode:
              type: string
              enum: [append, replace]
              default: append
              description: Append related-place pairs by default. Use replace to rewrite this place's current relationship set.
            actor:
              type: string
              default: agent
            changeSummary:
              type: string
              maxLength: 2000
    SearchPlacesRequest:
      type: object
      properties:
        visitContext:
          type: string
          enum: [afterDaycare, nearbyNow, rainyDay, weekendHalfDay, dayTrip]
          description: Soft ranking context for common parent outing scenarios.
        visitDate:
          type: string
          format: date
          description: Planned local visit date used for opening-hours scoring. When omitted, immediate searches use the current service date/time.
        visitStartTime:
          type: string
          pattern: "^([01]\\d|2[0-3]):[0-5]\\d$"
          description: Planned local visit start time in 24-hour `HH:mm` format. Requires `visitDate`; when omitted with `visitDate`, search evaluates opening hours at noon.
        origin:
          $ref: "#/components/schemas/Origin"
        location:
          $ref: "#/components/schemas/Origin"
          deprecated: true
          description: Backward-compatible alias for `origin`; prefer `origin` in new agent calls.
        radiusKm:
          type: number
          default: 80
          maximum: 500
        filterByRadius:
          type: boolean
          default: true
          description: When false, keep `origin` for distance calculation and scoring but do not restrict results to `radiusKm`. Useful for lodging/destination searches.
        viewportBounds:
          $ref: "#/components/schemas/ViewportBounds"
        minDistanceKm:
          type: number
          minimum: 0
          maximum: 500
          description: >-
            Hard lower distance bound from `origin`. Useful for outside-city or farther day-trip planning; requires `origin`.
        maxDistanceKm:
          type: number
          minimum: 0
          exclusiveMinimum: true
          maximum: 500
          description: >-
            Hard upper distance bound from `origin`. Use with `filterByRadius: false` when this explicit band should replace the default radius filter; requires `origin`.
        diversity:
          type: object
          description: Optional post-ranking caps that keep agent planning results from over-concentrating in one region or category.
          properties:
            maxPerRegion:
              type: integer
              minimum: 1
              maximum: 20
              description: Maximum number of results per `regionSido` + `regionSigungu` group before pagination.
            maxPerCategory:
              type: integer
              minimum: 1
              maximum: 20
              description: Maximum number of results per primary category before pagination.
        query:
          type: string
          minLength: 1
        matchMode:
          type: string
          enum: [keyword, exactName]
          default: keyword
          description: Use `exactName` for deterministic place-name lookup; it matches exact, whitespace-compacted, externalRefs.aliases, externalRefs.koreanSearchAliases, and known retail-chain alias place names instead of broad keyword/tag text.
        includeStatuses:
          type: array
          maxItems: 2
          description: Agent/admin audit option. Defaults to active-only search; include `temporarily_closed` when exact-name or duplicate-precheck workflows must find canonical temporary-closure records before staging creates. Permanently `closed`, `draft`, and `needs_review` records are intentionally not accepted here.
          items:
            type: string
            enum: [active, temporarily_closed]
        countryCode:
          type: string
          pattern: "^[A-Z]{2}$"
          description: Optional country scope for overseas place search.
        regionSido:
          type: string
          description: Optional Korean province/metropolitan-city scope for domestic place search. Common aliases such as `서울`, `경기`, and `부산` are normalized by the API.
        regionSigungu:
          type: string
          description: Optional Korean city/district scope for domestic place search. Use with `regionSido` when a narrower exact administrative scope is needed.
        city:
          type: string
          maxLength: 200
          description: Optional city/locality scope for overseas place search.
        primaryCategories:
          type: array
          maxItems: 30
          items:
            type: string
        representativeVisit:
          type: boolean
          description: When true, rank broad regional browsing results toward major family destinations such as zoos, museums, science centers, aquariums, arboretums, and large public attractions while de-emphasizing ordinary shopping fallback places.
        playgroundOnly:
          type: boolean
          description: >-
            When true, restrict playground-style searches to indoor playgrounds or park records with playground evidence such as play-equipment tags, playground-like names, or positive place-level playFeatures.
        kidsCafeOnly:
          type: boolean
          description: >-
            When true, restrict kids-cafe searches to commercial/private play-cafe records, including legacy indoor_playground rows with source or tag evidence such as kids-cafe names, brand/operator tags, party-room/cafe signals, or paid commercial play branding.
        tags:
          type: array
          description: Soft matching signal. Tags do not exclude candidates.
          maxItems: 30
          items:
            type: string
        taxonomy:
          $ref: "#/components/schemas/SearchTaxonomyRequest"
        childAgeMonths:
          type: array
          description: Soft matching signal. Age mismatch does not exclude candidates.
          maxItems: 10
          items:
            type: integer
            minimum: 0
            maximum: 240
        childAgesMonths:
          type: array
          deprecated: true
          description: Backward-compatible alias for `childAgeMonths`; prefer `childAgeMonths`.
          maxItems: 10
          items:
            type: integer
            minimum: 0
            maximum: 240
        preferences:
          type: object
          description: >-
            Search filter preference signals for high-value parent decisions. Defaults to soft ranking; set `preferenceMode: required` to exclude unknown or mismatched facility values.
          properties:
            indoorTypes:
              type: array
              items:
                $ref: "#/components/schemas/IndoorType"
            parkingAvailable:
              type: boolean
            toiletNearby:
              type: boolean
              description: Prefer places with nearby toilet evidence, using `playFeatures.toiletNearby` and kids-toilet evidence as soft ranking signals.
            strollerFriendly:
              type: boolean
            elevator:
              type: boolean
            nursingRoom:
              type: boolean
            diaperChangingTable:
              type: boolean
            kidsToilet:
              type: boolean
            babyChair:
              type: boolean
            foodAllowed:
              type: boolean
        preferenceMode:
          type: string
          enum: [soft, required]
          default: soft
          description: Controls whether `preferences` are soft ranking signals or required filters. In `required` mode, positive search filter preferences require `yes` or `partial` evidence and indoorTypes must match.
        sort:
          type: string
          enum: [recommended, distance, rating, updatedAt]
          default: recommended
          description: Sort order. `recommended` is shown as 관련도 and ranks by contextual search relevance. `distance` is shown as 거리 and ranks nearest first. `rating` is shown as 평가 and ranks by the source-backed place evaluation score, not user visit star ratings. `updatedAt` is for operational/API use.
        projection:
          type: string
          enum: [full, compact]
          default: full
          description: Use `compact` to return lightweight search items for planning and agent calls. Default `full` preserves the complete card/detail-oriented item shape.
        coursePlan:
          type: boolean
          default: false
          description: When true, include a lightweight role-based itinerary/course plan in response meta using the ranked result set.
        limit:
          type: integer
          minimum: 1
          maximum: 300
          default: 20
        offset:
          type: integer
          minimum: 0
          maximum: 1000
          default: 0
    PlaceImageInput:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        sourceId:
          type: string
          format: uuid
          description: Optional existing source row id. Prefer sourceUrl/sourceType when the source row is being appended in the same request.
        sourceUrl:
          type: string
          format: uri
        sourceType:
          $ref: "#/components/schemas/SourceType"
        sourceTitle:
          type: string
        creditText:
          type: string
          maxLength: 500
        altText:
          type: string
          maxLength: 500
        description:
          type: string
          maxLength: 4000
          description: Visual audit description written by an agent or human after inspecting the image.
        visualFeatures:
          type: array
          maxItems: 40
          items:
            type: string
          description: Machine-friendly visual tags such as slide, swing, sand_play, ball_pool, stroller_path, shade, water_edge.
        childSignals:
          type: object
          additionalProperties: true
          description: 'Structured observations inferred from the image, for example `{ "slide": true, "swing": false }`.'
        displayTier:
          type: string
          enum: [official, public_agency, public_listing, rights_unclear, unknown]
        status:
          type: string
          enum: [active, archived]
        reviewStatus:
          type: string
          enum: [pending_review, approved, needs_review, rejected]
        isPrimary:
          type: boolean
        sortOrder:
          type: integer
          minimum: 0
          maximum: 1000
        width:
          type: integer
        height:
          type: integer
        checkedAt:
          type: string
          format: date-time
    PlaceImage:
      type: object
      required:
        - id
        - placeId
        - url
        - sortOrder
        - isPrimary
        - sourceId
        - sourceUrl
        - sourceType
        - sourceTitle
        - displayTier
        - creditText
        - altText
        - description
        - visualFeatures
        - childSignals
        - width
        - height
        - checkedAt
        - status
        - reviewStatus
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        placeId:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        sortOrder:
          type: integer
          minimum: 0
        isPrimary:
          type: boolean
        sourceId:
          type: string
          format: uuid
          nullable: true
        sourceUrl:
          type: string
          format: uri
          nullable: true
        sourceType:
          type: string
          nullable: true
        sourceTitle:
          type: string
          nullable: true
        displayTier:
          type: string
          description: Coarse provenance tier for UI and agent trust decisions.
          enum: [official, public_agency, public_listing, rights_unclear, unknown]
        creditText:
          type: string
        altText:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        visualFeatures:
          type: array
          items:
            type: string
        childSignals:
          type: object
          additionalProperties: true
        width:
          type: integer
          nullable: true
        height:
          type: integer
          nullable: true
        checkedAt:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [active, archived]
        reviewStatus:
          type: string
          enum: [pending_review, approved, needs_review, rejected]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    RelatedPlace:
      type: object
      required:
        - relationId
        - placeId
        - name
        - primaryCategory
        - tags
        - address
        - roadAddress
        - lat
        - lng
        - status
        - relationType
        - note
        - evidence
        - distanceMeters
        - createdAt
        - updatedAt
      properties:
        relationId:
          type: string
          format: uuid
        placeId:
          type: string
          format: uuid
        name:
          type: string
        primaryCategory:
          type: string
        tags:
          type: array
          items:
            type: string
        address:
          type: string
          nullable: true
        roadAddress:
          type: string
          nullable: true
        lat:
          type: number
        lng:
          type: number
        status:
          type: string
        relationType:
          $ref: "#/components/schemas/RelatedPlaceRelationType"
        note:
          type: string
          nullable: true
        evidence:
          type: object
          description: Relation evidence; lodging/resort parent-child relations may include parentPlaceRole, childVenueRole, sameSiteName, sourceUrls, and displayNote, while itinerary_cluster relations may include clusterName, sharedDriveBurden, mealRestFallback, parentEffortNotes, and sourceUrls.
          additionalProperties: true
        distanceMeters:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    PlaceImageHealthResponse:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PlaceImageHealthItem"
        meta:
          type: object
          required: [count, total, limit, offset, status, placeIds, primaryCategory, probeImages]
          properties:
            count:
              type: integer
              description: Number of items returned in this page after runtime scoring, diversity, offset, and limit.
            total:
              type: integer
              description: Total active candidates that matched the request after runtime scoring and diversity, before offset and limit. The API does not pre-truncate this value with a fixed SQL candidate cap.
            limit:
              type: integer
            offset:
              type: integer
            status:
              type: string
              enum: [attention, no_active_image, rejected_only, needs_review, pending_review, no_primary, healthy, primary_image_unreachable, all]
            placeIds:
              anyOf:
                - type: array
                  items:
                    type: string
                    format: uuid
                - type: "null"
            primaryCategory:
              type:
                - string
                - "null"
            probeImages:
              type: boolean
    PlaceImageHealthItem:
      type: object
      required:
        - placeId
        - name
        - primaryCategory
        - tags
        - region
        - dataConfidence
        - updatedAt
        - imageHealth
      properties:
        placeId:
          type: string
          format: uuid
        name:
          type: string
        primaryCategory:
          type: string
        tags:
          type: array
          items:
            type: string
        address:
          type: string
          nullable: true
        roadAddress:
          type: string
          nullable: true
        region:
          type: object
          required: [sido, sigungu, dong, countryCode, countryName, city, locality, localCurrency]
          properties:
            sido:
              type: string
              nullable: true
            sigungu:
              type: string
              nullable: true
            dong:
              type: string
              nullable: true
            countryCode:
              type: string
              nullable: true
            countryName:
              type: string
              nullable: true
            city:
              type: string
              nullable: true
            locality:
              type: string
              nullable: true
            localCurrency:
              type: string
              nullable: true
        dataConfidence:
          type: string
        updatedAt:
          type: string
          format: date-time
        imageHealth:
          type: object
          required:
            - status
            - suggestedAction
            - priorityScore
            - activeCount
            - approvedCount
            - needsReviewCount
            - pendingReviewCount
            - rejectedCount
            - archivedCount
            - hasPrimary
            - primaryImageUrl
            - primaryReviewStatus
            - latestImageCheckedAt
            - latestImageUpdatedAt
          properties:
            status:
              type: string
              enum: [no_active_image, rejected_only, needs_review, pending_review, no_primary, healthy, primary_image_unreachable]
            suggestedAction:
              type: string
              enum: [find_replacement_image, find_first_image, choose_primary_image, review_or_replace_images, audit_pending_images, none]
            priorityScore:
              type: integer
            activeCount:
              type: integer
            approvedCount:
              type: integer
            needsReviewCount:
              type: integer
            pendingReviewCount:
              type: integer
            rejectedCount:
              type: integer
            archivedCount:
              type: integer
            hasPrimary:
              type: boolean
            primaryImageUrl:
              type:
                - string
                - "null"
              format: uri
            primaryReviewStatus:
              type:
                - string
                - "null"
            latestImageCheckedAt:
              type:
                - string
                - "null"
              format: date-time
            latestImageUpdatedAt:
              type:
                - string
                - "null"
              format: date-time
            directProbe:
              type: object
              nullable: true
              description: Present only when `probeImages=true`; reports the direct primary-image URL check used to detect stale or broken image health.
              required: [checkedAt, ok, status, method, contentType, finalUrl, error]
              properties:
                checkedAt:
                  type: string
                  format: date-time
                ok:
                  type: boolean
                status:
                  type:
                    - integer
                    - "null"
                method:
                  type:
                    - string
                    - "null"
                  enum: [HEAD, GET_RANGE, GET, null]
                contentType:
                  type:
                    - string
                    - "null"
                finalUrl:
                  type:
                    - string
                    - "null"
                  format: uri
                error:
                  type:
                    - string
                    - "null"
    SearchPlaceItem:
      type: object
      required:
        - id
        - placeId
        - name
        - status
        - primaryCategory
        - tags
        - description
        - imageUrls
        - primaryImage
        - images
        - imageHealth
        - sourceSummary
        - userRatingSummary
        - playFeatures
        - taxonomy
        - pricing
        - reviewSearchEvidence
        - routeSupport
        - score
        - placeQualityScore
        - scoreBreakdown
        - reasonCodes
        - reasons
        - dataConfidence
        - scoring
        - recommendedAgeMonths
        - infantLogistics
        - structuredDataGaps
        - openingHoursSummary
        - recommendationReadiness
        - facilities
        - visit
        - notes
        - version
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Canonical place id, matching place detail and duplicate candidate `place.id` values.
        placeId:
          type: string
          format: uuid
          deprecated: true
          description: Backward-compatible alias for `id`; prefer `id` in new agent/client code.
        name:
          type: string
        status:
          type: string
          enum: [active, temporarily_closed]
        primaryCategory:
          type: string
        tags:
          type: array
          items:
            type: string
        address:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        imageUrls:
          type: array
          deprecated: true
          description: Backward-compatible URL list derived from active `place_images`.
          items:
            type: string
            format: uri
        primaryImage:
          anyOf:
            - $ref: "#/components/schemas/PlaceImage"
            - type: "null"
        images:
          type: array
          description: First-class image entities, ordered by primary image and sort order.
          items:
            $ref: "#/components/schemas/PlaceImage"
        imageHealth:
          type: object
          description: Compact image coverage summary for rendering/search planning. Use `/v1/places/image-health` for full audit queues including rejected and archived image counts.
          required:
            - status
            - suggestedAction
            - priorityScore
            - activeCount
            - approvedCount
            - needsReviewCount
            - pendingReviewCount
            - hasPrimary
            - primaryImageUrl
            - primaryReviewStatus
            - latestImageCheckedAt
            - latestImageUpdatedAt
          properties:
            status:
              type: string
              enum: [no_active_image, needs_review, pending_review, no_primary, healthy]
            suggestedAction:
              type: string
              enum: [find_first_image, choose_primary_image, review_or_replace_images, audit_pending_images, none]
            priorityScore:
              type: integer
            activeCount:
              type: integer
            approvedCount:
              type: integer
            needsReviewCount:
              type: integer
            pendingReviewCount:
              type: integer
            hasPrimary:
              type: boolean
            primaryImageUrl:
              type:
                - string
                - "null"
              format: uri
            primaryReviewStatus:
              type:
                - string
                - "null"
            latestImageCheckedAt:
              type:
                - string
                - "null"
              format: date-time
            latestImageUpdatedAt:
              type:
                - string
                - "null"
              format: date-time
        sourceSummary:
          $ref: "#/components/schemas/SearchSourceSummary"
        userRatingSummary:
          $ref: "#/components/schemas/UserRatingSummary"
        playFeatures:
          $ref: "#/components/schemas/PlayFeatures"
        taxonomy:
          $ref: "#/components/schemas/PlaceTaxonomy"
        pricing:
          $ref: "#/components/schemas/Pricing"
        reviewSearchEvidence:
          type: array
          items:
            $ref: "#/components/schemas/ReviewSearchEvidenceItem"
        routeSupport:
          $ref: "#/components/schemas/RouteSupport"
        lat:
          type: number
        lng:
          type: number
        distanceKm:
          type: number
          nullable: true
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: Runtime search relevance score shown as 관련도. This changes with query, origin, filters, visit context, child ages, and planned time.
        placeQualityScore:
          $ref: "#/components/schemas/PlaceQualityScore"
        scoreBreakdown:
          $ref: "#/components/schemas/ScoreBreakdown"
        reasonCodes:
          type: array
          items:
            type: string
        reasons:
          type: array
          description: Structured reason metadata sorted by display priority. `reasonCodes` is kept for machine compatibility.
          items:
            $ref: "#/components/schemas/SearchReason"
        dataConfidence:
          type: string
        scoring:
          $ref: "#/components/schemas/PlaceScoring"
        recommendedAgeMonths:
          $ref: "#/components/schemas/RecommendedAgeMonths"
        infantLogistics:
          $ref: "#/components/schemas/InfantLogisticsSignal"
        structuredDataGaps:
          $ref: "#/components/schemas/StructuredDataGaps"
        openingHoursSummary:
          $ref: "#/components/schemas/OpeningHoursSummary"
        recommendationReadiness:
          $ref: "#/components/schemas/RecommendationReadiness"
        facilities:
          $ref: "#/components/schemas/Facilities"
        visit:
          $ref: "#/components/schemas/VisitSignals"
        notes:
          $ref: "#/components/schemas/PlaceNotes"
        version:
          type: integer
        updatedAt:
          type: string
          format: date-time
    CompactSearchPlaceItem:
      type: object
      description: Lightweight search item returned when `projection` is `compact`; omits full image rows, play feature JSON, scoring payloads, and version metadata.
      required:
        - id
        - name
        - status
        - primaryCategory
        - tags
        - address
        - lat
        - lng
        - distanceKm
        - score
        - placeQualityScore
        - reasonCodes
        - reasons
        - dataConfidence
        - taxonomy
        - recommendedAgeMonths
        - infantLogistics
        - structuredDataGaps
        - openingHoursSummary
        - recommendationReadiness
        - pricing
        - reviewSearchEvidence
        - routeSupport
        - facilities
        - visit
        - notes
        - primaryImageUrl
        - imageHealth
        - sourceSummary
        - userRatingSummary
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum: [active, temporarily_closed]
        primaryCategory:
          type: string
        tags:
          type: array
          items:
            type: string
        address:
          type:
            - string
            - "null"
        lat:
          type: number
        lng:
          type: number
        distanceKm:
          type:
            - number
            - "null"
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: Runtime search relevance score shown as 관련도. This changes with query, origin, filters, visit context, child ages, and planned time.
        placeQualityScore:
          $ref: "#/components/schemas/PlaceQualityScore"
        reasonCodes:
          type: array
          items:
            type: string
        reasons:
          type: array
          items:
            $ref: "#/components/schemas/SearchReason"
        dataConfidence:
          type: string
        taxonomy:
          $ref: "#/components/schemas/PlaceTaxonomy"
        recommendedAgeMonths:
          $ref: "#/components/schemas/RecommendedAgeMonths"
        infantLogistics:
          $ref: "#/components/schemas/InfantLogisticsSignal"
        structuredDataGaps:
          $ref: "#/components/schemas/StructuredDataGaps"
        openingHoursSummary:
          $ref: "#/components/schemas/OpeningHoursSummary"
        recommendationReadiness:
          $ref: "#/components/schemas/RecommendationReadiness"
        pricing:
          $ref: "#/components/schemas/Pricing"
        reviewSearchEvidence:
          type: array
          items:
            $ref: "#/components/schemas/ReviewSearchEvidenceItem"
        routeSupport:
          $ref: "#/components/schemas/RouteSupport"
        facilities:
          $ref: "#/components/schemas/Facilities"
        visit:
          type: object
          required: [reservationRequired, walkInAvailable, sessionBased, sameDayAvailabilityKnown, averageStayMinutes, parentEffortLevel, childEngagementLevel]
          properties:
            reservationRequired:
              $ref: "#/components/schemas/TriState"
            walkInAvailable:
              $ref: "#/components/schemas/TriState"
            sessionBased:
              $ref: "#/components/schemas/TriState"
            sameDayAvailabilityKnown:
              $ref: "#/components/schemas/TriState"
            averageStayMinutes:
              type:
                - integer
                - "null"
            parentEffortLevel:
              type:
                - integer
                - "null"
            childEngagementLevel:
              type:
                - integer
                - "null"
        notes:
          $ref: "#/components/schemas/PlaceNotes"
        primaryImageUrl:
          type:
            - string
            - "null"
          format: uri
        imageHealth:
          type: object
          additionalProperties: true
        sourceSummary:
          $ref: "#/components/schemas/SearchSourceSummary"
        userRatingSummary:
          $ref: "#/components/schemas/UserRatingSummary"
    StructuredDataGaps:
      type: array
      description: Source-backed structured fields that are still unknown or missing on the place record. Agents can use these keys to decide which family logistics, booking, or operating-hours fields to patch after checking evidence sources.
      items:
        type: string
        enum:
          - strollerFriendly
          - parkingAvailable
          - nursingRoom
          - diaperChangingTable
          - kidsToilet
          - elevator
          - babyChair
          - foodAllowed
          - reservationRequired
          - walkInAvailable
          - sessionBased
          - sameDayAvailabilityKnown
          - openingHours
    RecommendationReadiness:
      type: object
      description: Compact agent-facing summary of whether a search result is ready to use as a confident weekend recommendation, derived from structured gaps, opening-hours evidence, image health, pricing, and visit-planning fields.
      required:
        - readinessMode
        - readyForWeekendRecommendation
        - blockingGaps
        - cautionNotes
        - agentSummary
      properties:
        readinessMode:
          type: string
          enum: [familyWeekend, rainyDay, dayTrip]
        readyForWeekendRecommendation:
          type: boolean
        blockingGaps:
          type: array
          description: Machine-readable missing signals that should block a confident recommendation until checked or shown as caveats.
          items:
            type: string
            enum:
              - sourceEvidence
              - openingHours
              - reservationRequired
              - walkInAvailable
              - sessionBased
              - sameDayAvailabilityKnown
              - strollerFriendly
              - nursingRoom
              - diaperChangingTable
              - elevator
              - primaryImage
        cautionNotes:
          type: array
          description: Short Korean caution notes suitable for agent summaries or card badges.
          items:
            type: string
        agentSummary:
          type: string
    InfantLogisticsSignal:
      type: object
      description: Search-time infant logistics evidence derived from stroller, elevator, nursing, diaper, baby-chair, and parking fields. Confidence describes how much evidence is known; support describes how useful the known evidence is.
      required:
        - confidenceLevel
        - confidenceScore
        - supportLevel
        - supportScore
        - knownCount
        - unknownCount
        - positiveSignals
        - partialSignals
        - negativeSignals
        - missingSignals
      properties:
        confidenceLevel:
          type: string
          enum: [high, medium, low, unknown]
        confidenceScore:
          type: integer
          minimum: 0
          maximum: 100
        supportLevel:
          type: string
          enum: [strong, moderate, limited, poor, unknown]
        supportScore:
          type: integer
          minimum: 0
          maximum: 100
        knownCount:
          type: integer
          minimum: 0
        unknownCount:
          type: integer
          minimum: 0
        positiveSignals:
          type: array
          items:
            type: string
        partialSignals:
          type: array
          items:
            type: string
        negativeSignals:
          type: array
          items:
            type: string
        missingSignals:
          type: array
          items:
            type: string
    UserRatingSummary:
      type: object
      description: User-submitted visit rating aggregate for search cards. Average/count include private ratings, while review and photo counts include public content only.
      required: [averageRating, ratingCount, publicReviewCount, publicPhotoCount, latestVisitedOn]
      properties:
        averageRating:
          type:
            - number
            - "null"
          minimum: 1
          maximum: 5
        ratingCount:
          type: integer
          minimum: 0
        publicReviewCount:
          type: integer
          minimum: 0
        publicPhotoCount:
          type: integer
          minimum: 0
        latestVisitedOn:
          type:
            - string
            - "null"
          format: date
    SearchSourceSummary:
      type: object
      description: Compact source provenance and freshness summary for search cards and agent planning.
      required:
        - sourceCount
        - sourceTypes
        - bestSourceType
        - bestSourceTier
        - latestSourceType
        - latestCheckedAt
        - latestCreatedAt
        - freshnessStatus
        - openingHoursEvidence
      properties:
        sourceCount:
          type: integer
          minimum: 0
        sourceTypes:
          type: array
          description: Unique source types ordered by provenance strength.
          items:
            type: string
        bestSourceType:
          type:
            - string
            - "null"
        bestSourceTier:
          type: string
          enum: [official, public_agency, operator, public_listing, other, none]
        latestSourceType:
          type:
            - string
            - "null"
        latestCheckedAt:
          type:
            - string
            - "null"
          format: date-time
        latestCreatedAt:
          type:
            - string
            - "null"
          format: date-time
        freshnessStatus:
          type: string
          enum: [checked_today, recent, aging, stale, unchecked]
        openingHoursEvidence:
          $ref: "#/components/schemas/OpeningHoursEvidenceSummary"
    OpeningHoursSummary:
      type: object
      description: Search/detail operating-hours and booking confidence summary. This is separate from `OPEN_NOW`/`OPENING_HOURS_UNKNOWN` reason codes so source-backed but unstructured hours are still visible.
      required:
        - dataStatus
        - confidenceLevel
        - sourceBacked
        - bestSourceType
        - bestSourceTier
        - sourceCount
        - sourceTypes
        - latestCheckedAt
        - freshnessStatus
        - hasStructuredData
        - structuredDataGaps
      properties:
        dataStatus:
          type: string
          enum: [structured, unstructured, missing]
        confidenceLevel:
          type: string
          enum: [high, medium, source_backed, low, unknown]
        sourceBacked:
          type: boolean
        bestSourceType:
          type:
            - string
            - "null"
        bestSourceTier:
          type: string
          enum: [official, public_agency, operator, public_listing, other, none]
        sourceCount:
          type: integer
          minimum: 0
        sourceTypes:
          type: array
          items:
            type: string
        latestCheckedAt:
          type:
            - string
            - "null"
          format: date-time
        freshnessStatus:
          type: string
          enum: [checked_today, recent, aging, stale, unchecked]
        hasStructuredData:
          type: boolean
        structuredDataGaps:
          type: array
          description: Source-backed operation fields that still need structured propagation from evidence sources.
          items:
            type: string
            enum: [openingHours, reservationRequired, walkInAvailable, sessionBased, sameDayAvailabilityKnown]
        temporaryClosure:
          type:
            - object
            - "null"
          description: Structured temporary-closure period evidence when present; this clears the generic opening-hours structure gap but still indicates the place should not be treated as currently open.
          properties:
            startsOn:
              type:
                - string
                - "null"
              description: Inclusive closure start date when known, usually `YYYY-MM-DD`.
            endsOn:
              type:
                - string
                - "null"
              description: Inclusive closure end date when known, usually `YYYY-MM-DD`.
        lodgingStayWindow:
          type:
            - object
            - "null"
          description: Accommodation-specific check-in/check-out evidence. This is visit-window readiness for lodging, not normal public opening-hours evidence.
          properties:
            checkIn:
              type:
                - string
                - "null"
              description: Check-in time in `HH:mm` when known.
            checkOut:
              type:
                - string
                - "null"
              description: Check-out time in `HH:mm` when known.
            sourceBacked:
              type: boolean
              description: Whether the lodging window came from source-linked opening-hours metadata.
    OpeningHoursEvidenceSummary:
      type: object
      required: [sourceCount, sourceTypes, bestSourceType, bestSourceTier, latestCheckedAt, freshnessStatus]
      properties:
        sourceCount:
          type: integer
          minimum: 0
        sourceTypes:
          type: array
          items:
            type: string
        bestSourceType:
          type:
            - string
            - "null"
        bestSourceTier:
          type: string
          enum: [official, public_agency, operator, public_listing, other, none]
        latestCheckedAt:
          type:
            - string
            - "null"
          format: date-time
        freshnessStatus:
          type: string
          enum: [checked_today, recent, aging, stale, unchecked]
    SearchReason:
      type: object
      required: [code, labelKo, group, tone, priority]
      properties:
        code:
          type: string
        labelKo:
          type: string
        group:
          type: string
          enum: [preference, age, distance, context, match, confidence, other]
        tone:
          type: string
          enum: [positive, partial, negative, unknown, neutral]
        priority:
          type: integer
    SearchCoursePlanCandidate:
      type: object
      required: [id, name, primaryCategory, distanceKm, score, estimatedParentEffort, driveBurden, imageHealth, reasonCodes]
      properties:
        id:
          type: string
        name:
          type: string
        primaryCategory:
          type: string
        distanceKm:
          type:
            - number
            - "null"
        score:
          type: integer
          minimum: 0
          maximum: 100
        estimatedParentEffort:
          type: integer
          minimum: 1
          maximum: 5
        driveBurden:
          type: string
          enum: [nearby, easy, moderate, heavy, unknown]
        imageHealth:
          anyOf:
            - type: object
              additionalProperties: true
            - type: "null"
        reasonCodes:
          type: array
          items:
            type: string
    SearchCoursePlan:
      type: object
      required: [anchor, optionalSecondStop, mealCareBase, napBreak, abortFallback]
      properties:
        anchor:
          anyOf:
            - $ref: "#/components/schemas/SearchCoursePlanCandidate"
            - type: "null"
        optionalSecondStop:
          anyOf:
            - $ref: "#/components/schemas/SearchCoursePlanCandidate"
            - type: "null"
        mealCareBase:
          anyOf:
            - $ref: "#/components/schemas/SearchCoursePlanCandidate"
            - type: "null"
        napBreak:
          anyOf:
            - $ref: "#/components/schemas/SearchCoursePlanCandidate"
            - type: "null"
        abortFallback:
          anyOf:
            - $ref: "#/components/schemas/SearchCoursePlanCandidate"
            - type: "null"
    SearchPlacesResponse:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/SearchPlaceItem"
              - $ref: "#/components/schemas/CompactSearchPlaceItem"
        meta:
          type: object
          required: [count, total, limit, offset, projection, origin, coursePlan, search]
          properties:
            count:
              type: integer
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer
            projection:
              type: string
              enum: [full, compact]
            origin:
              anyOf:
                - $ref: "#/components/schemas/Origin"
                - type: "null"
            coursePlan:
              anyOf:
                - $ref: "#/components/schemas/SearchCoursePlan"
                - type: "null"
            search:
              type: object
              required:
                - originalQuery
                - normalizedQuery
                - locationQuery
                - temporalTerms
                - suggestedExactNameQuery
                - appliedPreferences
                - preferenceSemantics
                - visitContext
                - normalized
              description: Query normalization details for agent debugging and zero-result recovery.
              properties:
                originalQuery:
                  type:
                    - string
                    - "null"
                normalizedQuery:
                  type:
                    - string
                    - "null"
                locationQuery:
                  description: Location-only query token split from user intent when normalization leaves a region/place anchor such as 서울.
                  type:
                    - string
                    - "null"
                temporalTerms:
                  type: array
                  description: Date/time words removed from keyword matching and handled by planned-visit context when possible.
                  items:
                    type: string
                suggestedExactNameQuery:
                  description: Candidate place-name-only query when exact-name mode receives amenity or logistics words.
                  type:
                    - string
                    - "null"
                appliedPreferences:
                  anyOf:
                    - type: object
                      additionalProperties: true
                    - type: "null"
                preferenceSemantics:
                  type: object
                  description: Explains whether facility preferences are soft ranking signals or required filters for this search.
                  required:
                    - mode
                    - requestedKeys
                    - unknownValuesRemainEligible
                    - mismatchesRemainEligible
                    - hardFilteringSupported
                  properties:
                    mode:
                      type: string
                      enum: [soft, required]
                    requestedKeys:
                      type: array
                      items:
                        type: string
                    unknownValuesRemainEligible:
                      type: boolean
                    mismatchesRemainEligible:
                      type: boolean
                    hardFilteringSupported:
                      type: boolean
                visitContext:
                  type:
                    - string
                    - "null"
                  enum: [afterDaycare, nearbyNow, rainyDay, weekendHalfDay, dayTrip, null]
                normalized:
                  type: boolean
    DuplicatePlaceRequest:
      type: object
      description: Provide coordinates for radius-based duplicate checks, or address/region evidence when source-backed coordinates are unavailable.
      required: [name]
      dependentRequired:
        lat: [lng]
        lng: [lat]
      anyOf:
        - required: [lat, lng]
        - required: [roadAddress]
        - required: [address]
        - required: [regionSigungu]
        - required: [countryCode]
        - required: [city]
        - required: [kakaoPlaceId]
        - required: [externalRefs]
      properties:
        name:
          type: string
          minLength: 1
        lat:
          type: number
          description: Latitude for radius-based duplicate checks. Must be sent with `lng`.
        lng:
          type: number
          description: Longitude for radius-based duplicate checks. Must be sent with `lat`.
        address:
          type: string
          minLength: 1
          description: Source-backed 지번/지명 address used for read-only duplicate checks when coordinates are unknown.
        roadAddress:
          type: string
          minLength: 1
          description: Source-backed road address used for read-only duplicate checks when coordinates are unknown.
        regionSido:
          type: string
          description: Optional normalized province/city hint for address-based duplicate checks.
        regionSigungu:
          type: string
          minLength: 1
          description: Optional city/district hint for address-based duplicate checks when coordinates are unknown.
        countryCode:
          type: string
          pattern: "^[A-Z]{2}$"
          description: Optional country scope for overseas duplicate checks.
        city:
          type: string
          maxLength: 200
          description: Optional city/locality scope for overseas duplicate checks.
        primaryCategory:
          $ref: "#/components/schemas/PrimaryCategory"
          description: Optional candidate category used to lower confidence when a public child-support subfacility candidate conflicts with an unrelated broad destination category.
        aliases:
          type: array
          maxItems: 30
          description: Candidate aliases such as Korean travel names, official English names, and common parent-search variants.
          items:
            type: string
            minLength: 1
        radiusMeters:
          type: number
          exclusiveMinimum: 0
          default: 500
          maximum: 5000
        kakaoPlaceId:
          type: string
        externalRefs:
          type: object
          minProperties: 1
          description: Optional external reference object used for JSON containment duplicate matching against stored `externalRefs`. Agents may store public parent-inspection links such as `infoLinks` and `reviewLinks` here.
          additionalProperties: true
        projection:
          type: string
          enum: [full, compact]
          default: full
          description: Use `compact` for agent duplicate-review calls that only need candidate identity, location, status, confidence, suggestedAction, distanceMeters, and reasonCodes. The default `full` keeps complete `PlaceDetail` payloads.
        limit:
          type: integer
          minimum: 1
          default: 10
          maximum: 20
    DeletePlaceRequest:
      type: object
      required: [confirmation, confirmName, sources, changeSummary]
      properties:
        confirmation:
          type: string
          const: close_place
          description: Explicit confirmation token. AiGo DELETE is a source-backed soft delete, not a cascade hard delete.
        confirmName:
          type: string
          description: Must exactly match the current place name after trimming.
        sources:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/SourceInput"
        actor:
          type: string
          default: agent
        changeSummary:
          type: string
          minLength: 10
          maxLength: 2000
          description: Deletion reason or audit summary stored in the preserved version history.
    RetireDuplicatePlaceRequest:
      type: object
      required: [confirmation, canonicalPlaceId, sources, changeSummary]
      properties:
        confirmation:
          type: string
          const: retire_duplicate
          description: Explicit confirmation token. This endpoint is for source-backed active duplicate retirement, not closure or hard deletion.
        canonicalPlaceId:
          type: string
          format: uuid
          description: Active canonical place id that should remain searchable.
        sources:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/SourceInput"
        actor:
          type: string
          default: agent
        changeSummary:
          type: string
          minLength: 10
          maxLength: 2000
          description: Merge/retirement reason stored in the retired place version history.
    DuplicatePlaceResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            type: object
            required: [place, confidence, reasonCodes, suggestedAction, outsideRadiusReviewOnly, distanceMeters, nameSimilarity]
            properties:
              place:
                oneOf:
                  - $ref: "#/components/schemas/PlaceDetail"
                  - $ref: "#/components/schemas/DuplicateCompactPlace"
                description: Full place detail by default, or a compact identity/location subset when `projection` is `compact`.
              confidence:
                type: string
                enum: [high, medium, low]
              reasonCodes:
                type: array
                description: Duplicate-match explanation codes such as KAKAO_PLACE_ID_MATCH, EXTERNAL_REF_MATCH, ADDRESS_MATCH, REGION_MATCH, ADDRESS_REGION_CONFLICT, GENERIC_BRANCH_NAME, GENERIC_ALIAS_REVIEW_ONLY, BRANCH_SIBLING_REVIEW_ONLY, PUBLIC_SUBFACILITY_REVIEW_ONLY, PUBLIC_SAME_SITE_SUBFACILITY_REVIEW_ONLY, PUBLIC_PROVIDER_SIBLING_REVIEW_ONLY, SAME_BUILDING_REVIEW_ONLY, TENANT_PARENT_REVIEW_ONLY, SAME_SIDO_GENERIC_REVIEW_ONLY, UNRELATED_BRANCH_CATEGORY_REVIEW_ONLY, GEO_NEAR, GEO_OUTSIDE_REQUEST_RADIUS, OUTSIDE_RADIUS_REVIEW_ONLY, and NAME_SIMILAR.
                items:
                  type: string
              suggestedAction:
                type: string
                enum: [update_existing, manual_duplicate_review, hold_duplicate_review]
                description: Safe default action for automation clients. `hold_duplicate_review` means the candidate is review-only and must not be patched without stronger identity evidence such as provider id, external refs, same address, or same district. `manual_duplicate_review` is also used for branch-sibling, same-building/tenant, or generic public-facility alias cautions where name or address similarity is useful context but not identity proof.
              reviewBucket:
                type: string
                enum: [identity, relationship_context, sibling_branch_review, low_priority_noise]
                description: Operator-facing review bucket. Use `relationship_context` for same-address or same-district subfacility/parent-child leads. Use `sibling_branch_review` and `low_priority_noise` to deprioritize generic alias, branch sibling, address-region-conflicting public subfacility, same-province, unrelated category, or outside-radius candidates that are useful context but weak identity evidence.
              relationshipHint:
                type: string
                nullable: true
                enum: [same_building, parent_child]
                description: Optional relationship candidate when the match looks useful as same-building or parent-child context but lacks strong identity evidence. Use this to create `relatedPlaces` evidence instead of treating the candidate as the same place.
              outsideRadiusReviewOnly:
                type: boolean
                description: True when the candidate matched by weak name/alias/region evidence outside the requested radius without strict identity evidence such as same address, external refs, or provider id.
              distanceMeters:
                type: number
                nullable: true
              nameSimilarity:
                type: number
                nullable: true
    DuplicateCompactPlace:
      type: object
      description: Compact duplicate candidate place returned when `DuplicatePlaceRequest.projection` is `compact`.
      required: [id, name, primaryCategory, address, roadAddress, region, regionSido, regionSigungu, countryCode, countryName, city, locality, lat, lng, status, dataConfidence, updatedAt]
      properties:
        id:
          type: string
        name:
          type: string
        primaryCategory:
          type: string
        address:
          type: string
          nullable: true
        roadAddress:
          type: string
          nullable: true
        region:
          type: object
          nullable: true
          additionalProperties: true
        regionSido:
          type: string
          nullable: true
        regionSigungu:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
        countryName:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        locality:
          type: string
          nullable: true
        lat:
          type: number
        lng:
          type: number
        status:
          type: string
        dataConfidence:
          type: string
        updatedAt:
          type: string
          format: date-time
    RecommendedAgeMonths:
      type: object
      required: [min, max]
      properties:
        min:
          type: integer
          nullable: true
        max:
          type: integer
          nullable: true
    PlaceScoring:
      type: object
      required:
        - placeScore
        - placeScoreRationale
        - externalRatingScore
        - externalReviewCount
        - searchEvidenceScore
        - scoreSignals
        - scoreUpdatedAt
      properties:
        placeScore:
          type: number
          minimum: 0
          maximum: 10
          nullable: true
        placeScoreRationale:
          type: string
          nullable: true
        externalRatingScore:
          type: number
          minimum: 0
          maximum: 10
          nullable: true
        externalReviewCount:
          type: integer
          minimum: 0
          nullable: true
        searchEvidenceScore:
          type: number
          minimum: 0
[...]
